body{
    margin: auto;
    max-width: 900px;
}

header{
    text-align: center;
}

#container{
    text-align: center;
}

.tipografia{
    font-family: sans-serif;
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

div{
    padding: 50px;
}

#list{
    padding: 0px 60px 100px 60px;
    height: 300px;
} 

.tooltip-html:hover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted teal;
    color: teal;
    cursor: pointer;
}

.tooltip-html .tiptext-html{
    visibility: hidden;
    width: 400px;
    height: 200px;
    background-color: white;
    color: #033741;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-html .tiptext-html::after{
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid; 
    border-color: #555 transparent transparent transparent;
    margin-top: -5px;
    top: 25%;
    right: 100%;
    border-color: transparent #2e2e2e transparent transparent;
}

.tooltip-html:hover .tiptext-html{
    visibility: visible;
    opacity: 1;
}

.tooltip-css:hover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted teal;
    color: teal;
    cursor: pointer;
}

.tooltip-css .tiptext-css{
    visibility: hidden;
    width: 400px;
    height: 200px;
    background-color:white;
    color: #033741;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-css .tiptext-css::after{
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid; 
    border-color: #555 transparent transparent transparent;
    margin-top: -5px;
    top: 25%;
    right: 100%;
    border-color: transparent #2e2e2e transparent transparent;
}

.tooltip-css:hover .tiptext-css{
    visibility: visible;
    opacity: 1;
}

.tooltip-java:hover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted teal;
    color: teal;
    cursor: pointer;
}

.tooltip-java .tiptext-java{
    visibility: hidden;
    width: 400px;
    height: 200px;
    background-color: white;
    color: #033741;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-java .tiptext-java::after{
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid; 
    border-color: #555 transparent transparent transparent;
    margin-top: -5px;
    top: 25%;
    right: 100%;
    border-color: transparent #2e2e2e transparent transparent;
}

.tooltip-java:hover .tiptext-java{
    visibility: visible;
    opacity: 1;
}