html, body{
    margin: 0;
    padding: 0;
}

.container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image:url(/web-geekbook/animaciones-css/ejercicio-4/images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.title{
    top: 0;
    color: #0d4850;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    position: absolute;
    top: -300px;
    text-align: center;
    padding: 20px 0;
    transition: top ease 6s;
}

.container:hover .title{
    top: 25vh;
}
