/* .ventana{
    box-sizing: border-box;
    padding-top: 50px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    border-radius: 20px;
    color: #0b5a40;
    font-size: 50px;
    text-align: center;
    background: rgb(216, 214, 214);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    transition: bottom ease 10s;
}

body:hover .ventana{
    bottom: 50vh;
}
 */


.ventana-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 5s;
    visibility: hidden;
    opacity: 0;
}

.ventana-popup:target{
    visibility: visible;
    opacity: 1;
}

.pop-up-cuerpo{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    background: rgb(255, 255, 255);
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
}

.cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(230, 98, 98);
    transition: all 200ms;
}