@import '../core/variables';

.btn {  
    display: inline-block;  
    margin: 10px;  
    padding: 9px 16px 7px;  
    cursor: pointer;  
    text-align: center;  
    text-transform: capitalize;  
    color: $btn-font-color;  
    border: none;  
    border-radius: 4px;  
    font-family: inherit;  
    font-size: 13px;  
    line-height: 1.3;  
    font-weight: $btn-font-weight;  
    text-decoration: none;  
    appearance: none;​ 

    &:hover {    
        transition: all 150ms linear;    
        opacity: 0.85; 
    } 
    
    &:active {    
        transition: all 150ms linear;    
        opacity: 0.75;  
    }  
        
    &:focus {    
        outline: 1px dotted #959595;    
        outline-offset: -4px;  
    }
}​
        
.btn-default {  
    background-color: $color-primary;​  
    
    &:hover {    
        background-color: lighten($color-primary, 10%);    opacity: 1;  
    }  
        
    &:active {    
        background-color: darken($color-primary, 10%);    opacity: 1;  
    }

}

.btn-success {  
    background-color: $color-success;​  
    
    &:hover {    
        background-color: lighten($color-success, 10%);    opacity: 1;  
    }​  
    
    &:active {    
        background-color: darken($color-success, 10%);    
        opacity: 1;  
    }
}

​.btn-alert {  
    background-color: $color-alert;​  
    
    &:hover {    
        background-color: lighten($color-alert, 10%);    
        opacity: 1;  
    }​  
        
    &:active {    
        background-color: darken($color-alert, 10%);    
        opacity: 1;  
    }
}

​.btn-alternate {  
    background-color: $color-alternate;​  
    
    &:hover {    
        background-color: lighten($color-alternate, 10%);    
        opacity: 1;  
    }​  
    
    &:active {    
        background-color: darken($color-alternate, 10%);    
        opacity: 1;  
    }
    
}

.btn-lg {  
    padding: 12px 20px 10px;  
    font-size: 16px;
}​

.btn-sm {  
    padding: 6px 12px 4px;  
    font-size: 12px;
}​

.btn-full-width {  
    display: block;  
    width: 100%;
}