.container{
    background: rgb(204, 184, 184);
    height: 600px;
    
   
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    
}

.item{
    text-align: center;
    color: teal;
    font-size: 15px ;
    border: salmon solid 2px;
    width: 99%;
    height: 30%;
    min-height: 30px;
    
    flex: 0 1;
}

.item-2{
    flex-grow: 4;
    
}

.item-3{
    flex-shrink: 2;
    
}

